@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color:   #202124;
    color:              #FFFFFF;
    font-family:        'Merriweather', sans-serif;
}

/* 
    font-family:        'Noto Serif', serif; */

    

blockquote{
    font-size: 18px;
    width:100%;
    font-style:italic;
    padding:1.2em 24px 1.2em 54px;
    border-left:8px solid #FFFFFF ;
    line-height:2;
    position: relative;
    background:#4a4d54;
    border-radius: 0 8px 8px 0; 
    box-shadow: 0 1px 3px rgba(74,77,84,0.12), 0 1px 2px rgba(74,77,84,0.24);
    margin: 0;
  }
  
  blockquote::before{
      font-family: arial;
    content: "\201C";
    color:#FFFFFF;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }

a.button {
    border-radius: 4px;
    border: 6px solid #4a4d54;
    padding: 16px 32px;
    font-weight: 600;
    display: block;
    width: max-content;
    text-decoration: none;
    color: #FCF6F5;
    transition: background .2s ease-in-out;
}

a.button:hover {
    background: rgba(74,77,84, 0.4);
    transition: background .2s ease-in-out;
}


a.button-sm {
    border-radius: 4px;
    border: 2px solid #4a4d54;
    padding: 8px 24px;
    font-weight: 300;
    display: block;
    width: max-content;
    text-decoration: none;
    color: #FCF6F5;
    transition: background .2s ease-in-out;
    font-size: 12px;
}

a.button-sm:hover {
    background: rgba(74,77,84, 0.4);
    transition: background .2s ease-in-out;
}